@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Gruppo&family=Source+Code+Pro&family=Tangerine:wght@700&display=swap");

/* assign variables to styles to make code easier to read and for easier re-use*/
:root {
  --gruppo: "Gruppo", "cursive";
  --cormorant: "Cormorant", "serif";
  --gradient-colors: #1fa2ff, #12d8fa, #a6ffcb;
  --recipe-color: rgba(252, 37, 103, 1), rgba(250, 38, 151, 1),
    rgba(186, 8, 181, 1);
  --doughnut-color: #642b73, #812d73, #c6426e;
  --currency-color: #304352, #607686, #d7d2cc;
  --blackjack-color: #2980b9, #d0f2fa, #ffffff;
  --ecommerce-color: #a8ff78, #78ffd6, #b6ffe9;
  --calculator-color: #ffefba, #fff5d3, #ffffff;
}

/*transitions*/

/*end of transitions*/

/*Generic styles*/
h2,
h1 {
  color: white;
}

p {
  font-family: var(--gruppo);
  font-size: 1.2em;
  line-height: 1.3;
}

li {
  font-family: var(--gruppo);
  font-size: 1.5em;
  list-style-type: none;
}

h2 {
  font-family: var(--gruppo);
  font-size: 2.2em;
}

h1 {
  font-family: var(--gruppo);
  font-size: 3.5em;
}

#name {
  font-family: var(--gruppo);
  font-size: 1.4em;
}

a:link {
  color: white;
}

ul {
  padding: 0;
}

/*end of generic styles*/

body {
  color: #d1d1d1;
  background-color: #1d1d20;
  margin: 0 5% 0 5%;
}

/*element-transition*/

.element-transition h1 {
  letter-spacing: 0.5rem;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

/* The element-transition cursor effect */
@keyframes draw {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/*end of element-transition*/

.projects-container img {
  width: 15%;
}

.tech-container img {
  width: 15%;
}

/*header*/

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 5em;
}
.home-text {
  cursor: pointer;
}

.home-text:hover {
  color: white;
}
.icon-imgs:hover {
  background-color: white;
}

.header-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/2;
  grid-row: 1/2;
}

.header-text-container p {
  display: flex;
  flex-direction: row;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
}
.header-imgs-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.icons-container {
  height: 2em;
  width: 2em;
  overflow: hidden;
  display: inline-block;
}

.icons-container img {
  border-radius: 50%;
  background-color: #d1d1d1;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

hr {
  border: 0;
  height: 2px;
}

/*end of header*/

/*description*/
/* before peusdo element adds vertical line next to text  */
.description-container::before {
  content: " ";
  width: 2px;
  background-image: linear-gradient(to bottom, var(--gradient-colors));
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
}

.side-bar {
  position: relative;
  display: block;
}

.side-bar::before {
  content: " ";
  width: 2px;
  background-image: linear-gradient(to bottom, var(--gradient-colors));
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
}

.link-container {
  display: flex;
  gap: 3em;
}

.link-container a,
.cv-text {
  font-family: var(--gruppo);
  position: relative;
  color: white;
  padding-bottom: 3px;
  text-decoration: none;
  font-size: 1.2rem;
}

.cv-text::before,
.link-container a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 0.5px;
  background: linear-gradient(to bottom, var(--gradient-colors));
}

.link-container a.recipe::before,
.cv-text.recipe::before {
  background: linear-gradient(to right, var(--recipe-color));
}

.link-container a.doughnut::before,
.cv-text.doughnut::before {
  background: linear-gradient(to right, var(--doughnut-color));
}

.link-container a.blackjack::before,
.cv-text.blackjack::before {
  background: linear-gradient(to right, var(--blackjack-color));
}

.link-container a.ecommerce::before,
.cv-text.ecommerce::before {
  background: linear-gradient(to right, var(--ecommerce-color));
}

.link-container a.calculator::before,
.cv-text.calculator::before {
  background: linear-gradient(to right, var(--calculator-color));
}

.link-container a.currency::before,
.cv-text.currency::before {
  background: linear-gradient(to right, var(--currency-color));
}

.tech-stack-container.recipe::before,
.side-bar.recipe::before {
  background-image: linear-gradient(to bottom, var(--recipe-color));
}

.side-bar.doughnut::before,
.tech-stack-container.doughnut::before {
  background-image: linear-gradient(to bottom, var(--doughnut-color));
}

.side-bar.currency::before,
.tech-stack-container.currency::before {
  background-image: linear-gradient(to bottom, var(--currency-color));
}

.side-bar.blackjack::before,
.tech-stack-container.blackjack::before {
  background-image: linear-gradient(to bottom, var(--blackjack-color));
}

.side-bar.ecommerce::before,
.tech-stack-container.ecommerce::before {
  background-image: linear-gradient(to bottom, var(--ecommerce-color));
}

.side-bar.calculator::before,
.tech-stack-container.calculator::before {
  background-image: linear-gradient(to bottom, var(--calculator-color));
}

.description-container,
.cv-container {
  margin-left: 30px;
}

.cv-container span a {
  text-decoration: none;
}

/*end of description*/

/*projects*/
.projects-container {
  padding: 10px;
  /* puts border only on the corners of the projects container */
  background: linear-gradient(
        to right,
        var(--gradient-colors) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--gradient-colors) 2px, transparent 2px) 0
      100%,
    linear-gradient(to left, var(--gradient-colors) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--gradient-colors) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--gradient-colors) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--gradient-colors) 2px, transparent 2px) 100%
      0,
    linear-gradient(to top, var(--gradient-colors) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--gradient-colors) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}
/* updates border colours for certain classes */
.projects-container.recipe {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--recipe-color) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--recipe-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--recipe-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--recipe-color) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--recipe-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--recipe-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--recipe-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--recipe-color) 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}
/* updates border colours for certain classes */
.projects-container.doughnut {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--doughnut-color) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--doughnut-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--doughnut-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--doughnut-color) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--doughnut-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--doughnut-color) 2px, transparent 2px) 100%
      0,
    linear-gradient(to top, var(--doughnut-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--doughnut-color) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}
/* updates border colours for certain classes */
.projects-container.currency {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--currency-color) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--currency-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--currency-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--currency-color) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--currency-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--currency-color) 2px, transparent 2px) 100%
      0,
    linear-gradient(to top, var(--currency-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--currency-color) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}
/* updates border colours for certain classes */
.projects-container.blackjack {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--blackjack-color) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--blackjack-color) 2px, transparent 2px) 0
      100%,
    linear-gradient(to left, var(--blackjack-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--blackjack-color) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--blackjack-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--blackjack-color) 2px, transparent 2px) 100%
      0,
    linear-gradient(to top, var(--blackjack-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--blackjack-color) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}

/* updates border colours for certain classes */
.projects-container.ecommerce {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--ecommerce-color) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--ecommerce-color) 2px, transparent 2px) 0
      100%,
    linear-gradient(to left, var(--ecommerce-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--ecommerce-color) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--ecommerce-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--ecommerce-color) 2px, transparent 2px) 100%
      0,
    linear-gradient(to top, var(--ecommerce-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--ecommerce-color) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}

.active-page {
  font-weight: bolder;
  color: white;
}

.projects-container ul li span:hover,
.link-container a:hover {
  cursor: pointer;
  color: white;
}
/* updates border colours for certain classes */
.projects-container.calculator {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--calculator-color) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--calculator-color) 2px, transparent 2px) 0
      100%,
    linear-gradient(to left, var(--calculator-color) 2px, transparent 2px) 100%
      0,
    linear-gradient(to left, var(--calculator-color) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--calculator-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--calculator-color) 2px, transparent 2px)
      100% 0,
    linear-gradient(to top, var(--calculator-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--calculator-color) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}

.projects-container ul {
  padding: 0;
  margin-left: 1em;
}

.projects-container h2 {
  text-align: center;
}

.projects-container ul li {
  line-height: 2;
}

.projects-container ul li span {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  padding-bottom: 3px;
}

.projects-container ul li:last-child {
  margin-bottom: 1em;
}
/*end of projects*/

/*tech stack*/

.tech-container {
  display: flex;
  justify-content: space-between;
}

.tech-container img {
  object-fit: cover;
}

.tech-logo-container {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  width: 3em;
}

.tech-name {
  align-self: center;
}

.tech-stack-container h2 {
  text-align: center;
  margin-top: 2em;
}

.react-testing {
  white-space: nowrap;
}
a {
  overflow: visible !important;
  z-index: 0;
}

/*end of tech stack*/

/*desktop view*/

@media only screen and (min-width: 992px) {
  .element-transition h1 {
    font-size: 5rem;
    margin: 0.7em 0 0.7em 0;
    white-space: nowrap;
  }

  p {
    font-size: 1.5rem;
  }

  .link-container a,
  .cv-text {
    font-size: 1.5rem;
  }

  #grid-desktop {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 25% auto;
    gap: 3em;
  }

  .description-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .tech-stack-container {
    margin-left: 30px;
    display: block;
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
  }

  .tech-stack-container::before {
    content: " ";
    width: 2px;
    height: 500px;
    background-image: linear-gradient(to bottom, var(--gradient-colors));

    position: absolute;
    top: 18%;
    bottom: 0;
    left: -30px;
  }

  .cv-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .side-bar {
    position: relative;
    display: block;
  }

  .side-bar::before {
    content: " ";
    width: 2px;
    background-image: linear-gradient(to bottom, var(--gradient-colors));
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
  }

  .projects-container {
    grid-column: 2/3;
    grid-row: 2/3;
    height: fit-content;
  }

  .icons-container {
    height: 3em;
    width: 3em;
  }

  .header-imgs-container {
    gap: 1.5em;
  }

  .ul-tech {
    margin-left: 8em;
    width: 60%;
  }

  .tech-stack-title-container {
    position: relative;
  }

  .tech-stack-container h2 {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%) rotate(270deg);
    transform-origin: center center;
    white-space: nowrap;
    margin-left: 1.5em;
  }

  .projects-container ul {
    margin-left: 3em;
  }

  .description-container::before {
    height: inherit;
  }
}

/*end of desktop*/
