@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Gruppo&family=Source+Code+Pro&family=Tangerine:wght@700&display=swap");

:root {
  --gruppo: "Gruppo", "cursive";
  --cormorant: "Cormorant", "serif";
  --gradient-colors: #1fa2ff, #12d8fa, #a6ffcb;
  --recipe-color: rgb(250, 139, 255), rgb(43, 210, 255), rgb(43, 255, 136);
  --doughnut-color: #ff9a8b, #ff6a88, #ff99ac;
}

/*Generic styles*/
h2,
h1 {
  color: white;
}

p {
  font-family: var(--gruppo);
  font-size: 1.2em;
  line-height: 1.3;
}

li {
  font-family: var(--gruppo);
  font-size: 1.5em;
  list-style-type: none;
}

h2 {
  font-family: var(--gruppo);
  font-size: 2.2em;
}

h1 {
  font-family: var(--gruppo);
  font-size: 3.5em;
}

#name {
  font-family: var(--gruppo);
  font-size: 1.4em;
  margin: 0;
}

a:link {
  color: white;
}

ul {
  padding: 0;
}

/*end of generic styles*/

body {
  color: #d1d1d1;
  background-color: #1d1d20;
  margin: 0 5% 0 5%;
}

/*typeWriter*/

.typewriter h1 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.5rem;
  animation: draw 1.5s linear forwards;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes draw {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/*end of typewriter*/

.projects-container img {
  width: 15%;
}

.tech-container img {
  width: 15%;
}

/*header*/
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

header img {
  max-width: 100%;
  max-height: 100%;
  height: fit-content;
}

.icons-container {
  height: 2em;
  overflow: hidden;
  background-color: grey;
  border-radius: 50%;
}

.icons-container img {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}

.header-imgs-container {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

hr {
  border: 0;
  height: 2px;
}

/*end of header*/

/*description*/

.description-container::before {
  content: " ";
  width: 2px;
  background-image: linear-gradient(to bottom, var(--gradient-colors));
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
}

.side-bar {
  position: relative;
  display: block;
}

.side-bar::before {
  content: " ";
  width: 2px;
  background-image: linear-gradient(to bottom, var(--gradient-colors));
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
}

.tech-stack-container.clicked::before,
.side-bar.clicked::before {
  background-image: linear-gradient(to bottom, var(--recipe-color));
}

.side-bar.doughnut::before,
.tech-stack-container.doughnut::before {
  background-image: linear-gradient(to bottom, var(--doughnut-color));
}

.description-container,
.cv-container {
  margin-left: 30px;
}

.cv-container span a {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  padding-bottom: 3px;
}

/*end of description*/

/*projects*/
.projects-container {
  padding: 10px;
  background: linear-gradient(
        to right,
        var(--gradient-colors) 2px,
        transparent 4px
      )
      0 0,
    linear-gradient(to right, var(--gradient-colors) 2px, transparent 2px) 0
      100%,
    linear-gradient(to left, var(--gradient-colors) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--gradient-colors) 2px, transparent 2px) 100%
      100%,
    linear-gradient(to bottom, var(--gradient-colors) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--gradient-colors) 2px, transparent 2px) 100%
      0,
    linear-gradient(to top, var(--gradient-colors) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--gradient-colors) 2px, transparent 2px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 67px 67px;
  margin-top: 3em;
}

.projects-container ul {
  padding: 0;
  margin-left: 1em;
}

.projects-container h2 {
  text-align: center;
}

.projects-container ul li {
  line-height: 2;
}

.projects-container ul li span {
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  padding-bottom: 3px;
}

.projects-container ul li:last-child {
  margin-bottom: 1em;
}
/*end of projects*/

/*tech stack*/

.tech-container {
  display: flex;
  justify-content: space-between;
}

.tech-logo-container {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  width: 3em;
}

.tech-name {
  align-self: center;
}

.tech-logo-container img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

.tech-stack-container h2 {
  text-align: center;
  margin-top: 2em;
}

.react-testing {
  white-space: nowrap;
}

/*end of tech stack*/

/*desktop*/

@media only screen and (min-width: 992px) {
  .typewriter h1 {
    font-size: 5em;
    margin: 0.7em 0 0.7em 0;
    white-space: nowrap;
  }

  p {
    font-size: 1.5em;
    margin-top: 0;
  }

  #grid-desktop {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 20% auto;
    gap: 3em;
  }

  .description-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .tech-stack-container {
    margin-left: 30px;
    display: block;
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
  }

  .tech-stack-container::before {
    content: " ";
    width: 2px;
    height: 500px;
    background-image: linear-gradient(to bottom, var(--gradient-colors));
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 18%;
    bottom: 0;
    left: -30px;
  }

  .cv-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .gradient {
  }

  .side-bar {
    position: relative;
    display: block;
  }

  .side-bar::before {
    content: " ";
    width: 2px;
    background-image: linear-gradient(to bottom, var(--gradient-colors));
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
  }

  .projects-container {
    grid-column: 2/3;
    grid-row: 2/3;
    height: fit-content;
  }

  .ul-tech {
    margin-left: 8em;
    width: 60%;
  }

  .tech-stack-title-container {
    position: relative;
  }

  .tech-stack-container h2 {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%) rotate(270deg);
    transform-origin: center center;
    white-space: nowrap;
    margin-left: 1.5em;
  }

  .projects-container ul {
    margin-left: 3em;
  }

  .description-container::before {
    height: inherit;
  }
}

/*end of desktop*/
